body{
    background-color: #d9f1fa;
}

* {
    margin: 0;
    padding: 0;
}
#headings {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#paragraphs,#images, #lists {
   width: 80%;
   margin: auto;
   background-color: #f8f8ff;
   padding: 1em;
}
 

